:root {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Inter, system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  --color-bg: #242424;
  --color-fg: #f9f9f9;
  --color-a: #7f38ca;
  color-scheme: light dark;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
}
p {
  margin-top: 0;
}
a {
  font-weight: 500;
  color: var(--color-a);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-a);
}
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--color-fg);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--color-a);
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: var(--color-a);
  border-color: var(--color-a);
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: var(--color-fg);
  background-color: var(--color-a);
  border-color: var(--color-fg);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: var(--color-bg);
  background-color: var(--color-a);
  border-color: var(--color-bg);
}
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
#token,
#lnurl {
  display: block;
  width: 100%;
  max-width: 80vw;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 20px;
  margin: 0 auto;
  font-family: monospace;
  border: 1px solid var(--color-a);
  padding: 1.5em;
  border-radius: 1em;
}
#token[contenteditable]:empty::before {
  content: 'Paste in your Cashu ECash token...';
  color: gray;
}
#lnurl[contenteditable]:empty::before {
  content: 'Paste Lightning invoice or LNURL or Lightning address';
  color: gray;
}
.text-wrapper {
  position: relative;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}
.text-remover {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-weight: 900;
  font-size: 20px;
  color: var(--color-a);
}
.text-remover:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}
#tokenStatus {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
  font-weight: 700;
  color: var(--color-a);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f9f9f9;
    --color-fg: #242424;
  }
}
